.wrapper {
    width: 1174px;
    margin: 0 auto;
}

body {
    background-image: url(/images/petss.jpg);
    background-size: cover;
}

main {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 100vh;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.imageContainer {
    width: 300px;
    height: 300px;
}

#imageSRC {
    width: 100%;
}

.selector {
    margin-top: 50px;
}